* {
  padding: 0;
  margin: 0;
}

div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#search {
  height: 40px;
  width: 60px;
}

#titleSearch,
#yearSearch {
  margin-right: 10px;
  height: 40px;
  width: 240px;
  font-size: 25px;
}

.movieTitleHeading {
  color: aqua;
}
